@charset "UTF-8";
@font-face {
  font-family: "TW cent";
  src: url("../fonts/TwCenMTStd-LightItalic.otf");
}
@font-face {
  font-family: "Haarlem Deco";
  src: url("../fonts/Haarlem Deco DEMO.otf");
}
@font-face {
  font-family: "TW cent BOLD";
  src: url("../fonts/TwCenMTStd-Bold.otf");
}
@font-face {
  font-family: "TW cent BOLD ITALIC";
  src: url("../fonts/TwCenMTStd-UltraBoldIt.otf");
}
@font-face {
  font-family: "TW cent REGULAR";
  src: url(../fonts/TwCenMTStd-SemiMedium.otf);
}
/*---------------PÁGINA HOME---------------*/
/*Selector Universal*/
* {
  margin: 0px;
  padding: 0px;
}

/*Navbar con flexbox*/
.body-home {
  width: auto;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  border: solid 2px #fff;
  border-radius: 75px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.nav-item {
  text-align: center;
}

body {
  background-image: url(../recursos/imagenes/Pattern.png);
}

.text-tagline {
  font-family: "TW cent";
  text-align: center;
}

h1 {
  margin-left: 0px;
  margin-top: 15px;
  font-family: "Haarlem Deco";
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

h2 {
  font-family: "TW cent BOLD";
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
}

h3 {
  font-family: "TW cent BOLD ITALIC";
  font-size: 30px;
}

h4 {
  font-family: "TW cent";
  color: #fff;
  font-size: 15px;
}

h5 {
  font-family: "TW cent BOLD";
}

/*LINKS*/
a {
  font-family: "TW cent BOLD";
  font-size: 20px;
  color: rgb(210, 125, 19);
  text-decoration: none;
  cursor: pointer;
}

/*Etiqueta de clase*/
.links {
  font-size: 20px;
  color: rgb(210, 125, 19);
  font-family: "TW cent BOLD";
  text-decoration: none;
}

.market {
  width: auto;
  height: 150px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  border-radius: 50px;
}

.pedir {
  font-family: "TW cent BOLD";
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
}

.btn {
  font-family: "TW cent BOLD";
  color: rgb(210, 125, 19);
  margin-left: 30px;
}

/*Selector de etiqueta*/
.img-1 {
  width: auto;
  height: 700px;
  background-image: url(../recursos/imagenes/Empanadas\ tucumanas.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section article h3 {
  color: rgb(210, 125, 19);
  display: flex;
  justify-content: center;
  align-items: center;
}

section article p {
  font-size: 25px;
  color: blanchedalmond;
}

.historia-ona {
  width: auto;
  height: 800px;
  margin-bottom: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.back-mostaza {
  width: 700px;
  height: 850px;
  padding-top: 40px;
  background-color: rgb(210, 125, 19);
}

.back-negro {
  width: 450px;
  height: 750px;
  background-color: #000000;
  margin-left: -50px;
  margin-top: 50px;
  box-shadow: 8px black;
}

.ona-perra {
  width: 420px;
  height: 720px;
  margin: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.text-ona {
  font-family: "TW cent REGULAR";
  text-align: left;
  font-size: 20px;
  color: #000000;
  margin: 20px;
  margin-right: 65px;
}

.porqué {
  margin: 50px;
  color: #000000;
}

.offcanvas-footer {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-canva {
  font-family: "Haarlem Deco";
  color: #000000;
  font-size: 35px;
}

/*---------------PÁGINA PRODUCTOS---------------*/
/*Selector de etiqueta*/
.section-productos {
  width: auto;
  height: 1300px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.card {
  width: 18rem;
  height: 180px;
  border: 1px solid white;
  justify-self: center;
  align-self: center;
}

.card-body {
  background-color: #000000;
}

.card-img-top {
  height: 150px;
}

.card-text {
  color: #fff;
  font-family: "TW cent";
}

.card-title {
  color: #fff;
}

/*---------------PÁGINA PEDINOS---------------*/
/*left*/
.section-pedido {
  width: auto;
  height: 900px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

/*medium*/
.medium {
  display: grid;
  grid-template-areas: "columna1-fila1 columna2-fila1" "columna1-fila2 columna2-fila2" "columna1-fila3 columna2-fila3" "columna1-fila4 columna2-fila4" "columna1-fila5 columna2-fila5" "columna1-fila6 columna2-fila6";
  grid-template-columns: 250px auto;
  grid-template-rows: 80px 120px 450px 100px 50px 50px;
}

.form {
  font-family: "TW cent BOLD";
  font-size: 20px;
  color: #fff;
  margin: 10px;
}

/*fila 1*/
.columna2-fila1 {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.form-check {
  margin-top: 8px;
}

.form-check-label {
  font-family: "TW cent";
  color: white;
}

/*fila 2*/
.nombre-apellido {
  width: auto;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.form-control {
  width: 250px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

input.form-control::-moz-placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

input.form-control::placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

input#exampleFormControlInput1.form-control-email {
  width: 250px;
  height: 40px;
  padding: 6px 12px;
  margin-right: 5px;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 50px;
}

input#exampleFormControlInput1::-moz-placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

input#exampleFormControlInput1::placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

.email-telefono {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
}

input#exampleFormControlInput1::-moz-placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

input#exampleFormControlInput1::placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

/*fila 3*/
.form-fila3 {
  font-family: "TW cent BOLD";
  font-size: 20px;
  color: #fff;
  margin: 10px;
}

.btn2 {
  font-family: "TW cent";
  color: rgb(255, 255, 255);
  background-color: #000000;
  width: 115px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 5px;
}

.btn2:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.columna2-fila3 {
  margin-top: 15px;
}

.empanadas {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzas {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sanguches {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*fila 4*/
.columna2-fila4 {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

/*fila 5*/
/*fila 6*/
.form-control2 {
  width: 150px;
  height: 40px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

/*---------------PÁGINA CONTACTO---------------*/
.form-contacto {
  font-family: "TW cent BOLD";
  font-size: 20px;
  color: #fff;
  margin-top: 150px;
}

.section-contacto {
  width: auto;
  height: 900px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

.form-control-contacto {
  width: 250px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: 5px;
  margin-right: 5px;
}

input.form-control-contacto::-moz-placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

input.form-control-contacto::placeholder {
  color: rgb(104, 103, 103);
  font-family: "TW cent";
}

.medium-contacto {
  display: grid;
  grid-template-areas: "contacto-nombre campo-nombre" "contacto-apellido campo-apellido" "contacto-edad campo-edad" "contacto-teléfono campo-teléfono" "contacto-email campo-email" "contacto-email campo-email";
  grid-template-columns: 470px 470px;
  grid-template-rows: 80px 80px 80px 80px 80px 250px;
  grid-gap: 5px;
}

.contacto-nombre {
  margin-left: 150px;
}

.contacto-apellido {
  margin-left: 150px;
}

.contacto-edad {
  margin-left: 150px;
}

.contacto-teléfono {
  margin-left: 150px;
}

.contacto-email {
  margin-left: 150px;
}

.contacto-comentario {
  margin-left: 150px;
}

.text-area {
  width: 470px;
  height: 200px;
  background-color: black;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.botón-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

/*---------------PÁGINA NOSOTROS---------------*/
.logo-container {
  width: auto;
  height: 130px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-negativo {
  width: 130px;
  height: 130px;
}

.form-nosotros {
  font-family: "TW cent BOLD";
  font-size: 60px;
  color: #fff;
  margin-top: 150px;
}

.section-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-nosotros {
  width: 1000px;
  height: auto;
  margin-top: 150px;
  display: grid;
  grid-template-areas: "campo-imagen-1 campo-texto-1" "campo-imagen-2 campo-imagen-3" "campo-texto-2 campo-imagen-4";
  grid-template-rows: 500px 200px 500px;
  grid-template-columns: 3fr 3fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

.p-nosotros {
  font-family: "TW cent REGULAR";
  text-align: justify;
  font-size: 18px;
  color: white;
}

.campo-imagen-1 {
  position: relative;
  width: 500px;
  height: 500px;
}

.saladas-campo1 {
  width: 500px;
  height: 500px;
}

.napo-campo2 {
  width: 500px;
}

.pollo-campo3 {
  width: 500px;
}

.pizza-campo4 {
  width: 500px;
}

/*Selector ID*/
#pie {
  font-family: "TW cent BOLD";
}

ul {
  list-style-type: none;
}

/*Pseudoclases*/
a:hover {
  border-radius: 1px;
  padding: 0px;
  color: #000000;
}

a:active {
  color: black;
  border-radius: 0px;
  padding: 0px;
  font-size: 20px;
}

footer {
  width: auto;
  height: 70px;
  margin-top: 50px;
  border: solid 2px #fff;
  background-color: #000000;
  border-radius: 75px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.redes {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

/*----------------------------------------MEDIA QUERIES----------------------------------------*/
@media screen and (max-width: 480px) {
  /*----------------------------------------HOME----------------------------------------*/
  h2 {
    font-size: 19px;
  }
  .section-home {
    width: auto;
  }
  .img-1 {
    width: auto;
    height: 300px;
  }
  h3 {
    font-size: 20px;
  }
  .text-tagline {
    font-size: 16px;
  }
  .market {
    height: 80px;
    border-radius: 65px;
  }
  .pedir {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
  }
  .navbar {
    width: 480px;
  }
  .historia-ona {
    width: auto;
    height: auto;
    display: block;
  }
  .back-mostaza {
    width: auto;
    height: 850px;
    background-color: rgb(210, 125, 19);
  }
  .back-negro {
    width: 400px;
    height: 410px;
    margin-top: -180px;
    margin-left: 40px;
    background-color: #000000;
    box-shadow: 8px black;
  }
  .ona-perra {
    width: 250px;
    height: 420px;
    margin-left: 75px;
  }
  .porqué {
    margin: 10px;
    color: #000000;
    font-size: 25px;
  }
  .text-ona {
    font-family: "TW cent REGULAR";
    text-align: justify;
    font-size: 16px;
    color: #000000;
    margin: 20px;
  }
  /*----------------------------------------PRODUCTOS----------------------------------------*/
  .section-productos {
    width: auto;
    height: auto;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
  .card {
    width: 12rem;
    height: 270px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
  }
  .card-img-top {
    height: 100px;
  }
  .card-body {
    margin-bottom: none;
  }
  .card-title {
    font-size: 12px;
  }
  .card-text {
    font-size: 12px;
  }
}
/*----------------------------------------PRODUCTOS----------------------------------------*/
/*# sourceMappingURL=estilos.css.map */